<h1>All Items</h1>

<div class="controls">
    <%= link_to 'Create New Listing', new_item_path(@item) %>
    </div>

<% @items.each do |item| %>
    
    <%= image_tag item.image, :class => "thumb" %>

    <ul>
        <li>Name: <%= link_to item.name, item %></li>
        <li>Price: <%= item.price %></li>
        
        <li>Description: <%= item.description  %></li>
        
        <li>Image: <%= item.image %></li>
    </ul>

    

<% end %>

    